.wrapper
  .fixed_content
    .fixed_content__left Foodstic
    .fixed_content__right
      .fixed_content__right__client_name こんにちわ、Ava様
      .fixed_content__right__clientFn A
      .fixed_content__right__cart cart
  .menu
    .menu__top
      .menu__top__image
    .menu__left
      .menu__left__title Salad Bar
      .menu__left__hours 6pm- 11pm
    .menu__right
      .menu__right__first
        .menu__right__first__details
          .menu__right__first__details__title Salad Bar
          .menu__right__first__details__description Chicken salad
          .menu__right__first__details__price Y1200
        .menu__right__first__picture
      .menu__right__second








