.wrapper
  .fixed_content
    .fixed_content__left Foodstic
    .fixed_content__right
      .fixed_content__right__client_name こんにちわ、Ava様
      .fixed_content__right__clientFn A
      .fixed_content__right__cart cart
  .content-wrapper
    .content
      .content__top レストランや料理を検索
      .content__main
        .content__main__restaurant レストラン
        .content__main__base
          .content__main__base__lists
            .content__main__base__lists__left
              .content__main__base__lists__left__image1
              .content__main__base__lists__left__title1 hambuger
              .content__main__base__lists__left__detail1 good hambuger to eat
            .content__main__base__lists__center
            .content__main__base__lists__right

